<!-- Header -->
<section class="header">
	<div class="notifications">
		<div class="notification">Get rare, fresh-roasted coffees delivered to your door.
			<a href="#">Shop Reserve subscriptions</a>
		</div>	
	</div>
	<img class="logo" src="assets/img/logo.png"/>
</section>