<!-- Nav -->
<nav>
  <ul>
  	<li><a href="index.html">Coffee</a></li>
  	<li><a href="menu.html">Menu</a></li>
  	<li><a href="#">Coffee House</a></li>
  	<li><a href="#">Responsiblity</a></li>
  	<li><a href="#">Card</a></li>
  	<li><a href="#">Shop</a></li>
  </ul>
</nav>