<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head }}
	</head>
	<body>
		{{> header}}
		{{> nav}}		
		<section class="main">
			{{> body }}
		</section>
		{{> footer }}
		{{> scripts}}	
	</body>
</html>