<h1>Index Body</h1>
<a href="#">Example Link</a>
<p>This is some sort of example paragraph. I don't like using lorem ipsum for things
because it looks funny. I mean really, who uses latin anymore? No one, thats who. Actually
I take that back, high school teachers use latin, some religions use latin, but not much else.</p>